<!doctype html>
<html lang="{{site.lang}}">

  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/uswds/dist/js/uswds-init.min.js"></script>
    <link rel="stylesheet" href="/assets/uswds/dist/css/styles.css" />
  </head>

  <body>
    {% include basic-header.html %}
    <main id="main-content">
      <div class="grid-container usa-prose padding-y-3">
        {{ content }}
      </div>
    </main>
    {% include footer-identifier.html %}
    <script src="/assets/uswds/dist/js/uswds.min.js"></script>
  </body>
  
</html>